<template>
    <li class="nav-item dropdown">

        <!--<div class="badge">-->
            <a class="nav-link " href="#" id="userDropdown"
               data-toggle="dropdown"  >
                <i class="fa fa-bell">
                    <span class="badge badge-danger">{{notifications.length}}</span>
                </i>

            </a>
        <!--</div>-->
        <ul class="dropdown-menu" role="menu" >
            <li v-for="notification in notifications" >

                    <a  href="#" v-on:click="MarkAsRead(notification,'clients')" v-if="(JSON.parse(notification.data).client)">
                       <!--<div class="text-nowrap d-block">-->
                        <small> New Message ! Client Approve {{(''+notification.notifiable_id)}}</small>
                       <!--</div>-->
                    </a>

            </li>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Clear all</a>
        </ul>
    </li>
</template>

<script>
    export default {
        props : ['notifications'],

        methods: {
            MarkAsRead: function(notification,clients) {
                var data = {
                    id: notification.notifiable_id,
                    type:clients
                };
                axios.post('/notification/read', data).then(response => {


                    window.location.href =  response.data[0];
                });
            }


        }
    }
</script>
<style>
    .notification{
        background: red;
        color: white;
        padding: 2px;
    }
</style>
