.my-custom-scrollbar {
      position: relative;
      height: 400px;
      overflow: auto;
  }
.table-wrapper-scroll-y {
    display: block;
}
.receipt-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}.account-check-custom-scrollbar{
     position: relative;
     height: 300px;
     overflow: auto;
 }
.receipt-custom-scrollbar-300 {
    position: relative;
    height: 300px;
    overflow: auto;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.blur-content{
    filter: blur(5px);
}

/*body {*/
    /*background: #000;*/
    /*font-family: sans-serif;*/
    /*text-align: center;*/
/*}*/
/*.ques {*/
    /*color: darkslateblue;*/
/*}*/
/*.switch {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 260px;*/
    /*height: 100px;*/
/*}*/

/*.switch input {display:none;}*/

/*.slider {*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background-color: #f2f2f2;*/
    /*-webkit-transition: .4s;*/
    /*transition: .4s;*/
/*}*/

/*.slider:before {*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*content: "";*/
    /*height: 96px;*/
    /*width: 96px;*/
    /*left: 2px;*/
    /*bottom: 2px;*/
    /*background-color: darkslategrey;*/
    /*-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);*/
    /*-webkit-transition: .4s;*/
    /*transition: all 0.4s ease-in-out;*/
/*}*/
/*.slider:after {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*z-index: 1;*/
    /*content: "YES";*/
    /*font-size: 45px;*/
    /*text-align: left !important;*/
    /*line-height: 95px;*/
    /*padding-left: 0;*/
    /*width: 260px;*/
    /*color: #fff;*/
    /*height: 100px;*/
    /*border-radius: 100px;*/
    /*background-color: #ff6418;*/
    /*-webkit-transform: translateX(-160px);*/
    /*-ms-transform: translateX(-160px);*/
    /*transform: translateX(-160px);*/
    /*transition: all 0.4s ease-in-out;*/
/*}*/

/*input:checked + .slider:after {*/
    /*-webkit-transform: translateX(0px);*/
    /*-ms-transform: translateX(0px);*/
    /*transform: translateX(0px);*/
    /*!*width: 235px;*!*/
    /*padding-left: 25px;*/
/*}*/

/*input:checked + .slider:before {*/
    /*background-color: #fff;*/
/*}*/

/*input:checked + .slider:before {*/
    /*-webkit-transform: translateX(160px);*/
    /*-ms-transform: translateX(160px);*/
    /*transform: translateX(160px);*/
/*}*/

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 50%;
}
.absolute-no {
    position: absolute;
    left: 0;
    color: darkslategrey;
    text-align: right !important;
    font-size: 45px;
    width: calc(100% - 25px);
    height: 100px;
    line-height: 95px;
    cursor: pointer;
}
.custom-radios div {
    display: inline-block;
}
.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
}
/*.custom-radios input[type="radio"]radio label span {*/
    /*background-color: #2ecc71;*/
/*}*/
/*.custom-radios input[type="radio"]#color-1 + label span {*/
    /*background-color: #3498db;*/
/*}*/
/*.custom-radios input[type="radio"]#color-3 + label span {*/
    /*background-color: #f1c40f;*/
/*}*/
/*.custom-radios input[type="radio"]#color-4 + label span {*/
    /*background-color: #e74c3c;*/
/*}*/
.custom-radios input[type="radio"]:checked + label span {
    opacity: 1;
    /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;*/
    background-color: #0acc1f;
    width: 20px;
    height: 20px;
    display: inline-block;

}

.ss {
    background-color: #c6c8cc;
}


